In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [2]:
dataset=pd.read_csv('mydata.csv')
dataset.head()

,Carimbo de data/hora,Género,Idade,Telemóvel - Sistema Operativo,Marca de telemóvel,Computador - Sistema Operativo
0,2022/03/03 19:24:35,Masculino,[30-40],Android,Samsung,Mac
1,2022/03/03 19:56:28,Masculino,[25-34],Apple,Iphone,Mac
2,2022/03/03 20:00:58,Masculino,[15-24],Apple,Iphone,Windows
3,2022/03/03 20:01:29,Feminino,[15-24],Apple,Iphone,Windows
4,2022/03/03 20:04:25,Feminino,[25-34],Android,Huawei,Windows

In [3]:
dataset=dataset.drop(['Carimbo de data/hora'], axis=1)

In [4]:
apple = dataset[(dataset['Telemóvel - Sistema Operativo'] == 'Apple')]
android= dataset[(dataset['Telemóvel - Sistema Operativo'] == 'Android')]

In [5]:
apple.count()

Género                             30
Idade                              30
Telemóvel - Sistema Operativo      30
Marca de telemóvel                 30
Computador - Sistema Operativo     30
dtype: int64

In [6]:
apple[apple['Computador - Sistema Operativo ']=='Mac'].count()

Género                             16
Idade                              16
Telemóvel - Sistema Operativo      16
Marca de telemóvel                 16
Computador - Sistema Operativo     16
dtype: int64

In [7]:
#testing the hypothesis that 85% of the people within the sample that have an iphone also have a mac computer

# H0=mac/iphone < 85
# H1=mac/iphone > 85

In [8]:
proportions_ztest(16, 30, value=0.85,alternative='larger', prop_var=False)

(-3.4766440098791493, 0.9997461342625837)

In [9]:
#Our pvalue is way over 0.05 which makes us conclude that we cannot reject the null hypothesis, 
#therefore we cannot say with 95% confidence that 85% of users that have an iphone also have a mac.

In [10]:
#testing the hypothesis that 85% of the people within the sample that have an android also have a windows computer
# H0=windows/android < 85
# H1=windows/android > 85

In [11]:
android[android['Computador - Sistema Operativo ']=='Windows'].count()

Género                             17
Idade                              17
Telemóvel - Sistema Operativo      17
Marca de telemóvel                 17
Computador - Sistema Operativo     17
dtype: int64

In [12]:
android.count()

Género                             23
Idade                              23
Telemóvel - Sistema Operativo      23
Marca de telemóvel                 23
Computador - Sistema Operativo     23
dtype: int64

In [13]:
proportions_ztest(17, 23, value=0.85, alternative='larger', prop_var=False)

(-1.2108881038312336, 0.8870308537529282)

In [14]:
#Our pvalue is way over 0.05 which makes us conclude that we cannot reject the null hypothesis, 
#therefore we cannot say with 95% confidence that 85% of users that have an android also have a windows computer.

In [15]:
mobile=pd.read_csv('mobile.csv')

In [16]:
computer=pd.read_csv('Computer.csv')

In [17]:
mobile.head()

      Date  Android    iOS  Samsung  Windows  Nokia Unknown  Unknown  Other
0  2019-01    73.82  25.26     0.37     0.42           0.05     0.01   0.07
1  2019-02    73.16  25.93     0.41     0.39           0.05     0.01   0.07
2  2019-03    75.78  23.41     0.32     0.37           0.03     0.02   0.06
3  2019-04    78.39  20.98     0.27     0.27           0.02     0.01   0.05
4  2019-05    75.75  23.65     0.13     0.34           0.05     0.02   0.06

In [18]:
computer.head()

      Date  Windows   OS X  Unknown  Linux  Chrome OS  Other
0  2019-01    79.41  14.80     4.78   0.96       0.05    0.0
1  2019-02    77.19  16.69     5.15   0.92       0.05    0.0
2  2019-03    79.36  17.75     1.84   0.99       0.06    0.0
3  2019-04    78.74  17.98     2.09   1.13       0.06    0.0
4  2019-05    78.85  17.86     2.08   1.15       0.06    0.0

In [19]:
sum_column1 = mobile["Samsung"] + mobile["Windows"]+ mobile["Nokia Unknown"]+ mobile["Unknown"]+ mobile["Other"]

In [20]:
mobile['Others']=sum_column1

In [21]:
mobile.head()

,Date,Android,iOS,Samsung,Windows,Nokia Unknown,Unknown,Other,Others
0,2019-01,73.82,25.26,0.37,0.42,0.05,0.01,0.07,0.92
1,2019-02,73.16,25.93,0.41,0.39,0.05,0.01,0.07,0.93
2,2019-03,75.78,23.41,0.32,0.37,0.03,0.02,0.06,0.80
3,2019-04,78.39,20.98,0.27,0.27,0.02,0.01,0.05,0.62
4,2019-05,75.75,23.65,0.13,0.34,0.05,0.02,0.06,0.60

In [22]:
mobile=mobile.drop(['Samsung', 'Windows','Nokia Unknown','Unknown','Other'], axis=1)

In [23]:
mobile.head()

      Date  Android    iOS  Others
0  2019-01    73.82  25.26    0.92
1  2019-02    73.16  25.93    0.93
2  2019-03    75.78  23.41    0.80
3  2019-04    78.39  20.98    0.62
4  2019-05    75.75  23.65    0.60

In [24]:
sum_column2 = computer["Unknown"] + computer["Linux"]+ computer["Chrome OS"]+ computer["Other"]

In [25]:
computer['Others']=sum_column2

In [26]:
computer=computer.drop(['Unknown', 'Linux','Chrome OS','Other'], axis=1)

computer.head()

      Date  Windows   OS X  Others
0  2019-01    79.41  14.80    5.79
1  2019-02    77.19  16.69    6.12
2  2019-03    79.36  17.75    2.89
3  2019-04    78.74  17.98    3.28
4  2019-05    78.85  17.86    3.29

In [27]:
mobile.to_csv('mobile-dist.csv')
computer.to_csv('computer-dist.csv')

In [ ]:
proportions_ztest(16, 30, value=0.85,alternative='larger', prop_var=False)

proportions_ztest(17, 23, value=0.85,alternative='larger', prop_var=False)